@import "../../styles/vars.scss";

.input {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: $text-color;
  border: 1px solid #eee;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
  border-radius: 10px;
  padding: 20px;

  &_invalid {
    border-color: red;
  }
}

.error {
  color: orangered;
}