@import "../../styles/vars.scss";

.button {
   
   font-size: 15px;
   color: $white;
   border-radius: 28px;
   box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
   background-color: $accent;

      &--small {
        padding: 10px 25px;
      }

      &--big {
        padding: 20px 60px;
      }
       
    &:hover {
        background-color: #ff6600;;
    }
 
}

