@import "../../styles/vars.scss";

.layout {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
       
    &__logo {
        padding: 0 80px;
    }

    &__content {
        padding: 0 80px;
        border-left: 1px solid $separator-color;
        display: flex;
	    align-items: center;
	    justify-content: center;
    }
}